.about {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.download {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-top: $baseMeather * 2;

	transform: translateY(100vh);
	animation: sectionShow 0.6s ease 1 normal running 1.6s forwards;
}

@media (min-width:600px) {
	.download {
		flex-direction: row
	}
}

.download svg {
	fill: inherit;
	background: inherit;
}

.download a {
	text-decoration: none;
	color: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;

	&:hover {
		animation: download 1s ease infinite normal running 0s forwards;
	}
}

.about__name,
.download {
	background-color: inherit;
	text-align: center;
	width: 80%;
	line-height: $baseMeather * 2;
}

.about__name:nth-child(1) {
	transform: translateY(100vh);
	animation: sectionShow 0.6s ease 1 normal running 0.2s forwards;
}

.about__name:nth-child(2) {
	transform: translateY(100vh);
	animation: sectionShow 0.6s ease 1 normal running 0.4s forwards;
}

.about__name:nth-child(3) {
	transform: translateY(100vh);
	animation: sectionShow 0.6s ease 1 normal running 0.6s forwards;
}

.about__name:nth-child(4) {
	transform: translateY(100vh);
	animation: sectionShow 0.6s ease 1 normal running 0.8s forwards;
}

.about__name:nth-child(5) {
	transform: translateY(100vh);
	animation: sectionShow 0.6s ease 1 normal running 1s forwards;
}

.about__name:nth-child(6) {
	transform: translateY(100vh);
	animation: sectionShow 0.6s ease 1 normal running 1.2s forwards;
}

.about__name:nth-child(7) {
	transform: translateY(100vh);
	animation: sectionShow 0.6s ease 1 normal running 1.4s forwards;
}

.about__name:nth-child(8) {
	transform: translateY(100vh);
	animation: sectionShow 0.6s ease 1 normal running 1.6s forwards;
}