@import "_nullstyle";
@import "_globals";
@import "_colors";
@import "_animations";
@import "_presentation";
@import "_navigation";
@import "_about";
@import "_works";
@import "_preloader";
@import "_contact";

body {

	background-color: black;

	&::-webkit-scrollbar {
		width: 0.9vw;
	}

	&::-webkit-scrollbar-track {
		background-color: black;
		box-shadow: inset 0 0 6px rgb(0, 0, 0);
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgb(255, 255, 255);
	}
}

.wrapper {
	overflow: hidden;
	height: 100%;
	margin: 0 auto;

	&::before {
		content: '';
		height: $baseMeather * 2;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;

		background-image: linear-gradient(180deg, white 35%, rgba(255, 0, 128, 0) 100%);
		transition: all 2s ease 0s;
	}

	&::after {
		content: '';
		height: $baseMeather * 2;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;

		background-image: linear-gradient(180deg, black 35%, rgba(255, 0, 128, 0) 100%);
		transition: all 2s ease 0s;
	}
}

.hide {
	animation: sectionHide 0.6s ease 1 normal running 0s forwards;
}

.show {
	animation: sectionShow 0.6s ease 1 normal running 0s forwards;
}