@import "_nullstyle";
@import "_globals";
@import "_colors";
@import "_animations";
@import "_navigation";

body {}

.wrapper {
	overflow: hidden;
	height: 100%;
	margin: 0 auto;
}

.presentation {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.presentation__name {}

.presentation__position {}