@import "_nullstyle";
@import "_globals";
@import "animations";

body {
	background-color: $backgroundColor;
}

.wrapper {
	overflow: hidden;
}

.menu {
	color: $textColor;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 $baseMeather;
	height: 40vh;
	font-size: $baseMeather;

	position: fixed;
	bottom: 0;
	right: 0;
}

.about,
.projects,
.contact {
	color: $textColor;
	text-align: center;
	text-transform: uppercase;
	padding: 0 $baseMeather;
	width: 100%;
	height: $baseMeather;
	transition: color 0s ease 0.15s;

	&:hover {
		color: $accentColor;
	}

	&:focus {
		color: rgba(255, 0, 0, 0);
		transition: color 0s ease 0.15s;
	}

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: $baseMeather;
		position: relative;
		top: -100%;
		left: 100%;
		background-color: $accentColor;
		transition: left 0.3s ease 0s, width 0.25s ease 0.15s;
	}

	&:hover::after {
		left: -$baseMeather;
		width: $baseMeather;
	}

	&:focus::after {
		width: 100%;
		left: 200%;
		transition: left 0.5s ease 0.15s, width 0.25s ease 0s;
	}
}

.notselected {
	color: rgba(255, 0, 0, 0);
	text-align: center;
	padding: 0 $baseMeather;
	width: 100%;
	height: $baseMeather;
	transition: color 0s ease 0.5s;

	&::after {
		content: "";
		display: block;
		width: 150%;
		height: $baseMeather;
		position: relative;
		top: -100%;
		left: -$baseMeather;
		background-color: $accentColor;
		animation: menuNotSelected 1s ease 1 normal running 0s forwards;
	}
}